@import "./components/body/auth/auth.scss";

@import "./components/header/header.css";

body{
    background : url(https://courseweb.sliit.lk/theme/image.php/lambda/theme/1629135847/page_bg/page_bg_blur02) no-repeat fixed 0 0 ;
    background-size: cover;
    position: relative;
    text-shadow: none;
    color: #555;
    padding: 10px;
}
